.buttonsContainer {
    display: flex;
    gap: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
}

.imageContainer {
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
}

.code {
}

.text {
}
.info {
}