.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    gap: 20px;
}

.number {
    width: 30px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.slider{
    width: 147px;
}
